.jumbotron{
	font-family: 'Boogaloo', cursive;
}

img {
    display: block;
    margin: auto;
    position: relative;
    border:1px solid #021a40;
}

h2 {
	font-family: 'Rock Salt', cursive;
}

p {
	font-family: 'Vollkorn', serif;
}

h3 {
	font-family: 'Caveat Brush', cursive;
}
