<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#fe8181">
  <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="manifest" href="../static/manifest.json">

  <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script src="../static/min.js/jquery.min.js"></script>
  <script src="../static/min.js/bootstrap.min.js"></script>
  <script src="../static/min.js/firebase-3.7.0.min.js"></script>

  <script src="../static/min.js/app-auth.min.js"></script>

  <style>
    input[type="text"],input[type="password"] {
      display: block;
    }
    h2 {
      margin-top: 0;
      padding-top: 30px;
      color: black;
    }
  </style>
</head>
<body style="background-color: #f0f0f0;">
  <div id="colorstrip"><img class="logo" src="../static/img/mixing_bowl-514.png" alt="logo"></div>
    <div class="container">
      <h2 class="text-center pageHeading">Login to Foodex</h2>
        <fieldset>
          <div class="form-group">
            <label for="loginEmail">Email:</label>
            <input class="form-control" type="text" id="loginEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password:</label>
            <input class="form-control" type="password" id="loginPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox">Remember me?</label><br>
          </div>

	  <div style="margin-top: 40px;">
            <button id="btnLogin" class="btn btn-danger btn-block">Login</button>
	    <button id="btnGoogleAuth"
		    class="btn btn-primary btn-block">Login With Google</button>
            <button id="btnGoToSignup" class="btn btn-success btn-block"
		    onclick="location.href='signUp.html'">Sign Up</button>
          </div>
        </fieldset>
    </div>
    <!-- <footer class="footer"><p>&copy; 2017 Foodex</p></footer> -->
    <script>
      if('serviceWorker' in navigator) {
      navigator.serviceWorker
      .register('/hw5/sw.js', {scope: '/hw5/'})
      .then(function() { console.log("Service Worker Registered"); })
      .catch(function(error) { console.log(error) });
      }
    </script>
</body>
</html>
