<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <meta name="theme-color" content="#00cbac"> 
  <link rel="manifest" href="../static/manifest.json">

  <script src="../static/min.js/firebase-3.7.0.min.js"></script>
  <script src="../static/min.js/app-auth.min.js"></script>

</head>
<body>
    <div id="colorstrip"><img class="logo" src="../static/img/mixing_bowl-512.png" alt="logo"></div>
    <div id="contain" class="container">
      <div class="text-center">
        <h2>Sign Up</h2>
      </div>
      <hr>
      <main>
        <div id="signUpBody" class="container">
          <fieldset>
            <div class="form-group">
              <label for="signupUserName">Username:</label>
              <input type="text" class="form-control" id="signupUsername" placeholder="Enter Username">
            </div>
	    <div class="form-group">
              <label for="signupEmail">Email:</label>
              <input type="email" class="form-control" id="signupEmail" placeholder="Enter Email">
            </div>

            <div class="form-group">
              <label for="signupPassword">Password:</label>
              <input type="password" class="form-control" id="signupPassword" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <label for="signupPasswordRetype">Confirm Password:</label>
              <input type="password" class="form-control" id="signupPasswordRetype" placeholder="Re-type Password">
            </div>
            <div class="text-center" style="margin-top: 20px;">
              <button id="btnSignup" class="btn btn-lrg btn-block foodex-btn" form="signup">Sign Up</button>
            </div>
            <br>
            <div class="text-center">
              <a href="login.html" id="cancel">Already have an account?</a>
            </div>
          </fieldset>

        </div>
      </main>
    </div>
    <!-- <footer class="footer"><p>&copy; 2017 Foodex</p></footer> -->
</body>
</html>
