<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add/Edit Recipe</title>
	<!-- We're going to actually download these files to speed up our app -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/addedit.css" type="text/css">
  <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <script src="../static/js/app.js"></script>
	<script src="../static/js/addEditVue.js"></script>
</head>
<body>
	<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
           <ul class="nav navbar-nav">
           		<li><a href="main.html">Foodex Catalog</a></li>
                <li><a href="personal.html">Personal Catalog</a></li>
                <li class="active"><a href="addEditRecipe.html">Add Recipe</a></li>
                <li><a href="login.html">Log Out</a></li>
           </ul>
        </div>
    </div>
  </div>

	<div id="addEditApp" class="container fill">
    <form id="recipeForm" @submit.prevent="submitRecipeForm">
			<h4>Recipe Title</h4>
			<div class="form-group">
		    <input class="form-control" type="text" id="title" name="title" placeholder="Recipe Title" v-model.trim="title" required>
			</div>

			<h4>Time Estimation</h4>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-2">
			    	<input class="form-control" type="text" name="days" v-model.number="days" placeholder="Days">
					</div>
					<div class="col-sm-2">
			    	<input class="form-control" type="text" name="hours" v-model.number="hours" placeholder="Hours" required>
					</div>
					<div class="col-sm-2">
			    	<input class="form-control" type="text" name="minutes" v-model.number="minutes" placeholder="Minutes" required>
					</div>
				</div>
			</div>

			<h4>Difficulty</h4>
			<div class="radio">
	  	  <label><input type="radio" name="difficulty" v-model="difficulty" value="hard" required>hard</label>
			</div>
			<div class="radio">
		    <label class="control-label"><input type="radio" name="difficulty" v-model="difficulty" value="medium" required>medium</label>
			</div>
			<div class="radio">
		    <label><input type="radio" name="difficulty" v-model="difficulty" value="easy">easy</label>
			</div>

	    <h4>Brief Description</h4>
	    <textarea class="form-control" id="description" name="description" v-model.trim="description" placeholder="Enter a brief description of the recipe"required></textarea>
	    <h4>Ingredients</h4>
	    <textarea class="form-control" name="ingredients" v-model="ingredients" placeholder="Enter each ingredient on a new line" required></textarea>

	    <h4>Instructions</h4>
	    <textarea class="form-control" name="instructions" v-model="instructions" placeholder="Enter each instruction on a new line"required></textarea>

	    <h4>Visibiility</h4>
			<div class="radio">
		    <label><input type="radio" name="visible" v-model="visibility" value="public" required>Public</label>
			</div>
			<div class="radio">
		    <label><input type="radio" name="visible" v-model="visibility" value="private">Private</label>
			</div>
	  </form>
	</div>
	<div class="container">
	  <img src="#" alt="Preview of the uploaded image">
	  <button class="btn btn-default btn-sm">Upload Image</button>
		<div class="btn-group">
	  		<button id="submitBtn" class="btn btn-primary" type="submit" form="recipeForm" value="Submit">Submit</button>
	  		<button class="btn btn-default" onclick="location.href='main.html'" value="recipeCancel">Cancel</button>
		</div>
	</div>
  <footer class="footer">
		<p>&copy; 2017 Foodex</p>
	</footer>
</body>
</html>
