<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add/Edit Recipe</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../static/css/addedit.css" type="text/css">
  <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <script src="../static/js/app.js"></script>
</head>
<body>
	<div class="container fill">
	  <form action="none" method="post" id="recipeForm">
			<h4>Recipe Title</h4>
			<div class="form-group">
		    <input class="form-control" type="text" name="recipe" placeholder="Recipe Title">
			</div>

			<h4>Time Estimation</h4>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-4">
			    	<input class="form-control" type="text" name="days" placeholder="days">
					</div>
					<div class="col-sm-4">
			    	<input class="form-control" type="text" name="hours" placeholder="hours">
					</div>
					<div class="col-sm-4">
			    	<input class="form-control" type="text" name="minutes" placeholder="minutes">
					</div>
				</div>
			</div>

			<h4>Difficulty</h4>
			<div class="form-group">
				<div class="radio">
		  	  <label class="control-label"><input type="radio" name="difficulty" value="hard">hard</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
		    	<label class="control-label"><input type="radio" name="difficulty" value="medium">medium</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
		    	<label><input type="radio" name="difficulty" value="easy">easy</label>
				</div>
			</div>

	    <h4>Brief Description</h4>
	    <textarea class="form-control" name="description"></textarea>
	    <h4>Ingredients</h4>
	    <textarea class="form-control" name="ingredients"></textarea>

	    <h4>Instructions</h4>
	    <textarea class="form-control" name="instructions"></textarea>

	    <h4>Visibiility</h4>
			<div class="form-group">
				<div class="radio">
			    <label><input type="radio" name="visible" value="public">Public</label>
				</div>
			</div>
			<div class="form-group">
				<div class="radio">
			    <label><input type="radio" name="visible" value="private">Private</label>
				</div>
			</div>
	  </form>
	</div>
	<div class="container">
	  <img src="#" alt="Preview of the uploaded image">
	  <button class="btn btn-default btn-sm">Upload Image</button>
		<div class="btn-group">
	  		<button id="save" class="btn btn-primary" type="submit" form="recipeForm" value="recipeSubmit">Save</button>
	  		<button class="btn btn-default" onclick="location.href='main.html'" value="recipeCancel">Cancel</button>
		</div>
	</div>
  <footer class="footer">
		<p>&copy; 2017 Foodex</p>
	</footer>
</body>
</html>
