<!DOCTYPE html>
<html>
  <head>
    <title>Foodex Recipes</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/flexbox.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/firebase-3.7.0.js"></script>
    <script src="../static/js/vue-2.2.1.js"></script>
    <script src="../static/js/vuefire-1.3.1.js"></script>

    <script src="../static/js/app.js"></script>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
           <ul class="nav navbar-nav">
             <li class="active"><a href="main.html">Foodex Catalog</a></li>
	     <li><a href="personal.html">Personal Catalog</a></li>
	     <li><a href="add.html">Add Recipe</a></li>
	     <li><a id="btnLogout">Log Out</a></li>
            </ul>
        </div>
    </div>
  </div>

    <div class="container">
      <h1>Foodex Catalog</h1>
      <div id="homeApp" class="flex-container">
        <template v-for="recipe in recipes" v-if="isPublic(recipe.visibility)">
          <div>
            <h3>{{recipe.title}}</h3>
            <a href="#" v-on:click="storeKey(recipe['.key'])"><img :src="recipe.imageUrl" alt="Image of the recipe"></a>
            <p>{{recipe.description}}</p>
          </div>
        </template>
      </div>
    </div>
    <hr>
    <footer style="text-align:center;"><p>&copy; 2017 Foodex</p></footer>
  </body>
</html>
