/* Styles for all pages */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
   min-height: 100vh;
   width: 100%;
   position: relative;
   padding-bottom: 8rem;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #005B4C;
    text-align: center;
}

footer p {
    text-align: center;
    color: white;
}
