html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/foodex.jpeg");
  background-size: cover;
  background-color: #f6f6f6;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-size: 4em;
  color: #005B4C;
}

footer {
  background-color: #005B4C;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}

.container {
  box-shadow: 1px 1px 8px 1px rgba(115,115,115,1);
  height: 250px;
  background-color: white;
  width: 200px;
  padding: 70px 0 20px 80px;
  padding-right: 130px;
  border-radius: 5px;
}

label {
  display:flex;
  align-items: center;
  margin-bottom: 5px;
  color: #3f998b;
}

a {
  color: #00cbac;
  font-size: 1rem;
  margin-right: 15px;
}

footer p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 10px;
}

input[type="text"], input[type="email"] {
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #00cbac;
  color: #3f998b;
  height: 25px;
  padding: 3px;
  font-size: 1rem;
}
input[type="password"] {
  border: none;
  border-bottom: 2px solid #00cbac;
  height: 25px;
  padding: 3px;
  color: #3f998b;
  font-size: 1rem;
  margin-bottom: 20px;
}

button {
  border: 1px solid #00cbac;
  border-radius: 4px;
  background-color: #00cbac;
  color: white;
  margin-top: 20px;
  padding: 5px 15px;
  margin-right: 10px;
}

#signUp {
  background-color: white;
  color: #00cbac;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hide {
  display: none;
}

@media (max-width: 700px) {
  .container {
    width: 200px;
    padding: 30px 0 30px 35px;
    padding-right: 90px;
  }
  h1 {
    font-size: 3em;
  }
}
