<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add/Edit Recipe</title>
	<link href="../css/addedit.css" rel="stylesheet" type="text/css">
	<link href="../css/common.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<main>
	  <form method="post" id="recipeForm">
			<h3>Recipe Title</h3>
	    <input type="text" name="recipe" placeholder="Recipe Title">
	    <h3>Time Estimation</h3>
			<div class="time-container">
		    <input type="text" name="days" placeholder="days" maxlength="20" size="1">
		    <input type="text" name="hours" placeholder="hours" maxlength="20" size="1">
		    <input type="text" name="minutes" placeholder="minutes" maxlength="20" size="1">
			</div>
	    <h3>Difficulty</h3>
			<div class="radio-container">
		    <label><input type="radio" name="difficulty" value="hard">hard</label>
		    <label><input type="radio" name="difficulty" value="medium">medium</label>
		    <label><input type="radio" name="difficulty" value="easy">easy</label>
			</div>

	    <h3>Brief Description</h3>
	    <textarea name="description" rows="5" cols="50"></textarea>
	    <h3>Ingredients</h3>
	    <textarea name="ingredients" rows="5" cols="50"></textarea>

	    <h3>Instructions</h3>
	    <textarea name="instructions" rows="5" cols="50"></textarea>

	    <h3>Visibiility</h3>
	    <label><input type="radio" name="visible" value="public">Public</label>
	    <label><input type="radio" name="visible" value="private">Private</label>

	    <img alt="preview image of final product">
	    <button type="submit">Upload Image</button>
	  </form>
	  <button type="submit" form="recipeForm" value="recipeSubmit">Submit</button>
	  <button id="cancel" type="submit" onclick="location.href='main.html'" value="recipeCancel">Cancel</button>
	</main>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
