<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Login</title>
  <link href="../css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Welcome to Foodex</h1>
  </header>
  <main>
    <form method="post">
      <input type="text" name="userName" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <label><input type="checkbox">Remember me?</label>
      <button>Sign Up</button>
      <input type="submit" name="submitted" value="Login">
    </form>
  </main>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
