<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Login</title>
  <link href="../css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
  <main>
    <form method="get">
      <label>User Name</label><input type="text" name="userName">
      <label>Password</label><input type="password" name="password">
      <label><input type="checkbox">Remember me?</label>
      <input type="submit" name="Submit">
    </form>
  </main>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
