<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
</head>
<body>
  <h1>Recipe Title</h1>
  <nav>
    <a href="main.html">Foodex Catalog</a>
    <br>
    <a href="personal.html">Personal Catalog</a>
    <br>
    <a href="login.html" onclick="alert('you have logged out')">Logout</a>
  </nav>
  
  <h3>Description</h3>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <img src="#" alt="Image of the final product">
  
  <h4>Duration</h4>
  <p>4hrs 20mins </p>
  
  <h4>Difficulty</h4>
  <p>Insane</p>
  
  <h3>Ingredients</h3>
  <hr>
  <ul>
    <li>Pasta</li>
    <li>Tomato Sauce</li>
    <li>Ground Beef</li>
    <li>Cheese</li>
    <li>Vodka</li>
  </ul>
  
  <h3>Instructions</h3>
  <hr>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</li>
  </ol>
  
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
