<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recipe</title>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/nav.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="main.html">Foodex Catalog</a></li>
      <li><a href="personal.html">Personal Catalog</a></li>
      <li><a onclick="alert('Log out successful')" href="login.html">Logout</a></li>
    </ul>
  </nav>
  
  <main class="">
    <h1>Puttanesca</h1>
    <h3>Description</h3>
    <hr>
    <p>The best pasta recipe to impress your friends and make them think you're as Italian as Professor Pasquale.<p>

    <img src="../img/spaghetti.jpg" alt="Image of the final product">
    
    <h4>Duration</h4>
    <p>45 minutes</p>
    
    <h4>Difficulty</h4>
    <p>Pretty Ez</p>

    <h4>Makes</h4>
    <p>4 servings</p>
    
    <h3>Ingredients</h3>
    <hr>
    <ul>
      <li>8 ounces pasta</li>
      <li>1/2 cup olive oil</li>
      <li>3 cloves garlic, minced</li>
      <li>2 cups chopped tomatoes, pushed through a sieve</li>
      <li>4 anchovy filets, rinsed and chopped</li>
      <li>2 tablespoons tomato paste</li>
      <li>3 tablespoons capers</li>
      <li>20 Greek olives, pitted and coarsely chopped</li>
      <li>1/2 teaspoon crushed red pepper flakes</li>
    </ul>
    
    <h3>Instructions</h3>
    <hr>
    <ol>
      <li>Bring a large pot of lightly salted water to a boil.</li>
      <li>Cook pasta in boiling water for 8 to 10 minutes or until al dente; drain.</li>
      <li>Heat oil in a skillet over low heat; cook garlic in oil until golden.</li>
      <li>Add sieved tomatoes, and cook 5 minutes.</li>
      <li>Stir in anchovies, tomato paste, capers, olives, and red pepper flakes.
      <li>Cook 10 minutes, stirring occasionally.</li>
    </ol>
  </main>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
