<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../bootstrap/css/team.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="center">

    <h1>Welcome to Foodex</h1>

    <main>
      <form method="post">
        <input type="text" name="userName" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input id="retype" type="password" name="retype" placeholder="Re-type Password">
        <input id="email" type="email" name="email" placeholder="Email">
        <label><input type="checkbox">Remember me?</label>
        <input type="submit" name="submitted" value="Sign Up">
        <a href="login.html">Cancel</a>
      </form>
    </main>
  </div>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
