<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Sign Up</title>
  <link href="../css/signUp.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Welcome to Foodex</h1>
  </header>
  <main>
    <form method="post">
      <input type="text" name="userName" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input id="retype" type="password" name="retype" placeholder="Re-type Password">
      <input id="email" type="email" name="email" placeholder="Email">
      <label><input type="checkbox">Remember me?</label>
      <input type="submit" name="submitted" value="Login">
    </form>
  </main>
  <footer><p>&copy; 2017 Foodex</p></footer>
</body>
</html>
